@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  .main-container {
    max-width: 85vw;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .offer__list-item {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
  }
  .cards {
    width: 100%;
    height: 200px;
  }
  .main-container {
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 70px;
  }

  .playlist-container {
    margin: 5px;
    padding: 10px;
  }
}
