@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  .main-container {
    max-width: 85vw;
    margin-right: 30px;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .offer__list-item {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 8px;
  }

  .offer__list-item img {
    width: 60px;
    transform: rotate(25deg) translate(10%, -2%);
  }

  .cards {
    width: 100%;
    aspect-ratio: 1 / 1.1;
  }

  .card-text {
    white-space: normal;
  }

  .main-container {
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0 16px;
  }

  .playlist-container {
    margin: 5px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0 8px;
  }

  .offer__list-item img {
    width: 40px;
    transform: rotate(25deg) translate(8%, -2%);
  }
}
